:root {
    --stem: yellowgreen;
    --background: rgb(0, 29, 10);
    --text: beige;
    --accent: violet;
    --padding: 1.5rem;
}
* {
    box-sizing: border-box;
}
html, body {
    background: var(--background);
    margin: 0;
    color: var(--text);
    font-family: sans-serif;
}
h1 {
    margin: 2rem;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.02em;
}
main {
    margin-top: 10rem;
    padding: 0 2rem 1rem 2rem;
    min-height: calc(100vh - 10rem);
}
footer {
    margin: 4rem 0;
}
footer p {
    text-align: center;
}
footer a {
    text-decoration: none;
    color: var(--text);
}
footer a:hover {
    text-decoration: none;
    color: var(--accent);
}
form, fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
fieldset {
    width: 48rem;
    max-width: calc(100vw - (var(--padding) * 4));
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgba(0,0,0,0);
    color: var(--text);
    opacity: 0.7;
    padding: 0.75rem 2.5rem 0.75rem var(--padding);
    font-size: 1rem;
    width: 100%;
    border: none;
}
input {
    margin: 0 calc(var(--padding) * 0.5) 0 0;
}
input[type="range"] {
    width: 100%;
}
label {
    display: flex;
}
select:focus {
    outline: none;
}
svg {
    overflow: visible;
}
svg .leaf {
    opacity: 0.8;
    fill: var(--stem);
}
svg .sort-path-display {
    fill: none;
    stroke-width: 2;
    stroke: var(--accent);
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.space-between {
    justify-content: space-between;
}
.hidden {
    display: none;
}
.sr-only {
    position: absolute;
    left: -100vw;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.sort-dialog {
    color: var(--color);
    padding: 0;
}
.toggle-sort-dialog {
    box-sizing: content-box;
    padding: calc(var(--padding) * 0.5);
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.75rem;
    color: var(--accent);
    background: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}
.sort-dialog, .open-sort-dialog {
    border-radius: 20px;
    border: 1px solid var(--text);
    background: rgba(0, 29, 10, 0.5);
    backdrop-filter: blur(5px);
    margin: var(--padding);
    position: fixed;
    left: 0;
    top: 0;
}
.sort-dialog .flex-column {
    padding: 0 var(--padding) var(--padding) var(--padding);
}
.sort-dialog fieldset:last-child {
    margin-top: var(--padding);
}
fieldset .flex-row {
    width: 100%;
}
.input-container {
    min-height: 2.825rem;
    border: 1px solid var(--text);
    background: var(--background);
    position: relative;
    width: 100%;
    border-radius: 10px;
    padding: calc(var(--padding) * 0.5) var(--padding);
}
.input-container.focus {
    border: 1px solid var(--accent);
}
.input-container.focus:after {
    color: var(--accent);
}
.sorting-options fieldset > .flex-row:not(:last-child) {
    margin-left: var(--padding);
}
.layout-options .input-container {
    margin-right: 4rem;
}
.select-container {
    padding: 0;
    margin-right: 0;
}
.select-container.active select {
    opacity: 1;
}
.select-container:after {
    content: '\00273F';
    width: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1rem;
    color: var(--color);
    padding: calc(var(--padding) * 0.5) calc(var(--padding) * 0.75);
    pointer-events: none;
}
.toggle-sort-direction {
    width: 1rem;
    padding: var(--padding);
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 1rem;
}
.toggle-sort-direction:hover {
    color: var(--accent);
}
.toggle-sort-direction input[type="checkbox"] {
    display: none;
    font-size: 1.25rem;
    font-weight: 900;
}
.toggle-sort-direction input[type="checkbox"] ~ span:before {
    content: '\002191';
}
.toggle-sort-direction input[type="checkbox"]:checked ~ span:before {
    content: '\002193';
}

@media (max-width: 700px) {
    h1 {
        font-size: 1.5rem;
    }
    main {
        padding: 0 0 1rem 0;
    }
    .m-flex-row {
        display: flex;
        flex-direction: row;
    }
    .m-flex-column {
        display: flex;
        flex-direction: column;
    }
    .sort-dialog fieldset:last-child {
        margin-top: 1rem;
    }
    .input-container {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}