@media (max-width: 700px) {
    h1 {
        font-size: 1.5rem;
    }
    main {
        padding: 0 0 1rem 0;
        margin-top: 9rem;
    }
    .m-flex-row {
        display: flex;
        flex-direction: row;
    }
    .m-flex-column {
        display: flex;
        flex-direction: column;
    }
    .input-container, .toggle-sort-direction {
        margin-bottom: 1rem;
    }
    .layout-options .input-container {
        margin-right: 0;
    }
}